<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
{% bootstrap_messages %}


<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block extrahead_block %}{% endblock %}
    <title>
      {% trans 'Система электронного референдума' %} - 
      {% block title_block %}{% endblock %}
    </title>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">{% trans 'Система электронного референдума' %}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form pull-right" method="get" action="/results/">
              <input type="text" class="form-control" id="search-field" placeholder="Поиск">
              <button type="submit" class="btn btn-default">Поиск</button>
            </form>
            {% if user.is_authenticated %}
              <li class="navbar-text">{% trans 'Добро пожаловать'  %}, {{ user.get_short_name }}</li>
              {% if user.is_staff %}
                <li><a href="/admin">{% trans 'Панель администратора'  %}</a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}">{% trans 'Выход'  %}</a></li>
            {% else %}
              <li><a href="{% url 'register' %}">{% trans 'Регистрация' %}</a></li>
              <li><a href="{% url 'login' %}">{% trans 'Вход'  %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="padding-top: 60px;">
      {% block content_block %}{% endblock %}
    </div>
  </body>
</html>