Django==1.9
django-admin-bootstrapped==2.5.7
django-bootstrap3==6.2.2
django-bootstrap3-datetimepicker-2==2.4.2
django-debug-toolbar==1.4
django-extensions==1.6.1
django-mmc==1.6
pygraphviz==1.3.1
six==1.10.0
sqlparse==0.1.18
