{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content_block %}
  <div class="col-xs-4 col-xs-offset-3">
    <h1>{{ referendum.title }}</h1>
    {{ referendum.question }}
    <div style="margin-top: 10px;">
      {% if not referendum.is_over %}
        {% include 'referendums/vote_buttons.html' %}
      {% else %}
        <div class="panel panel-default">
          <div class="panel-header">
            <strong>{% trans 'Итог' %}</strong>
          </div>
          <div class="panel-body">
            {{ object.result }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="col-xs-2">
    <h2>{% trans 'Голоса:' %}</h2>
    <h3>{% trans 'За:' %} {{ for }}</h3> 
    <h3>{% trans 'Против:' %} {{ against }}</h3>
  </div>

{% endblock content_block %}