{% load i18n %}
{% load bootstrap3 %}

<div>
  {% if user.is_authenticated %}
    {% if user.is_approved %}
      <form action="/create/" method="get">
        <input type="submit" value="{% trans 'Организовать референдум' %}" id=" go_to_create_ref" class="btn btn-danger btn-lg btn-block"/>
      </form>  
    {% else %}
      <input type="submit" value="{% trans 'Организовать референдум' %}" id="go_to_create_ref" class="btn btn-danger btn-lg btn-block disabled" title="{% trans 'Для организации референдума ваша учетная запись должна быть аодтверждена администратором.' %}"></input>
    {% endif %}
  {% else %}
    <input type="submit" value="{% trans 'Организовать референдум' %}" id="go_to_create_ref" class="btn btn-danger btn-lg btn-block disabled" title="{% trans 'Для организации референдума необохдимо зарегистрироваться' %}"></input>
  {% endif %}   
</div>