{% load i18n %}
{% load bootstrap3 %}


{% block vote_buttons_block %}
  <table class="table" style="width:auto;">
    {% for answer in question.question_answers.all %}
      <tr>
        <td>
          <form class="" method="post" action="/referendum/{{ referendum.id}}/{{ question.id }}/{{ answer.id }}/" style="display:inline-block;">
            {% csrf_token %}
            <input class="btn btn-default btn-lg vote-button wrapped {{ answer.style }}" type="submit" value="{{ answer.label }}" id="btn-{{ answer.id }}">
          </form>
        </td>
        <td>
          <strong>{% trans 'Голосов' %}</strong>: {{ answer.get_votes_number }}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% if referendum.is_ready == False %}
        <div class="row" style="margin-top: 10px; margin-left: 10px;">
          <div class="panel panel-default col-sm-12 col-md-8 col-lg-6">
            <div class="panel-heading">
              {% trans 'Создать новый ответ' %}
            </div>
            <div class="panel-body">
              <form class="form" role="form" action="/create/{{ referendum.id }}/{{ question.id }}/" method ="post">
                {% csrf_token %}
                {% bootstrap_form answer_form %}
                <button class="btn btn-primary" style="margin-bottom: 10px;">{% trans 'Создать ответ' %}</button>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
{% endblock vote_buttons_block %}