{% load i18n %}
{% load bootstrap3 %}

{% block vote_buttons_block %}
  {% if user.is_authenticated %}
    {% if user.is_approved %}
      {% if user_vote == None %}
      <form class="" method="post" action="/referendum/{{ referendum.id }}/agree/"    style="display:inline-block;">
        {% csrf_token %}
        <input class="btn btn-default btn-success btn-lg" type="submit" value=" {%  trans 'Согласен' %}">
      </form>
      <form class="" method="post" action="/referendum/{{ referendum.id }}/disagree/"  style="display:inline-block; margin-left: 5px;">
        {% csrf_token %}
        <input class="btn btn-default btn-danger btn-lg" type="submit" value="  {%  trans 'Не согласен' %}">
      </form>
      {% elif user_vote.result == 'y' %}
      <form class="" method="post" action="/referendum/{{ referendum.id }}/agree/"    style="display:inline-block;">
        {% csrf_token %}
        <input class="btn btn-default btn-success btn-lg" type="submit" value=" {%  trans 'Согласен' %}">
      </form>
      <form class="" method="post" action="/referendum/{{ referendum.id }}/disagree/"  style="display:inline-block; margin-left: 5px;">
        {% csrf_token %}
        <input class="btn btn-default btn-danger btn-lg" type="submit" value="{%  trans 'Не согласен' %}" style="opacity: 0.65;">
      </form>
      {% elif user_vote.result == 'n' %}
      <form class="" method="post" action="/referendum/{{ referendum.id }}/agree/"    style="display:inline-block;">
        {% csrf_token %}
        <input class="btn btn-default btn-success btn-lg" type="submit" value=" {%  trans 'Согласен' %}" style="opacity: 0.65;">
      </form>
      <form class="" method="post" action="/referendum/{{ referendum.id }}/disagree/"  style="display:inline-block; margin-left: 5px;">
        {% csrf_token %}
        <input class="btn btn-default btn-danger btn-lg" type="submit" value="  {%  trans 'Не согласен' %}">
      </form>
      {% else %}
      <form class="" method="post" action="/referendum/{{ referendum.id }}/agree/"    style="display:inline-block;">
        {% csrf_token %}
        <input class="btn btn-default btn-success btn-lg" type="submit" value=" {%  trans 'Согласен' %}">
      </form>
      <form class="" method="post" action="/referendum/{{ referendum.id }}/disagree/"  style="display:inline-block; margin-left: 5px;">
        {% csrf_token %}
        <input class="btn btn-default btn-danger btn-lg" type="submit" value="  {%  trans 'Не согласен' %}">
      </form>
      {% endif %}
    {% else %}
      <div class="alert alert-warning">
        <strong>{% trans 'Внимание!' %}</strong> {% trans 'Для того, чтобы проголосовать, ваша учетная запись должна быть подтверждена администратором.' %}
      </div>
    {% endif %}
  {% else %}
    <div class="alert alert-warning">
      <strong>{% trans 'Внимание!' %}</strong> {% trans 'Для того, чтобы проголосовать, необходимо зарегистрироваться.' %}
    </div>
  {% endif %}
{% endblock vote_buttons_block %}