{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block extrahead_block %}
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css"></link>
  <script type="text/javascript" src="/static/js/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js"></script>
{% endblock extrahead_block %}

{% block title_block %}{% trans 'Регистрация' %}{% endblock %}

{% block content_block %}
  <div class='col-xs-4'>
    {% if user.is_authenticated %}
      <a href="{% url 'index' %}">{% trans 'Возврат на главную страницу' %}</a>
    {% else %}
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="alert alert-warning">
          <strong>{% trans 'Внимание!' %}</strong> {% trans 'Прежде чем вы сможете начать голосовать, создавать референдумы и проявлять иную активность, администратор должен подтвердить вашу учетную запись (это займет некоторое время).' %}
        </div>
        <div class="checkbox">
          <label class="checkbox"><input type="checkbox" value="" id="i-got-it">{% trans 'Я все понял, зарегистрируйте меня.' %}</label>
        </div>
        {% buttons %}
          <button type="submit" class="btn btn-primary" id="reg" disabled="true">
            {% trans 'Зарегестрироваться' %}
          </button>
        {% endbuttons %}
      </form>
    {% endif %}
  </div>
  <script type="text/javascript" src="/static/js/register.js"></script>
{% endblock %}